<div class="bank">
    <img src="../../assets/image/pngtree-vector-bank-icon-png-image_515245.jpg" alt="bank" height="50px" width="50px" style="border-radius: 50%;">
    <h1>My Bank</h1>
    <h6>{{aim}}</h6>
    <form action="#" [formGroup]="loginForm">
    <input formControlName="acno" type="text" name="account number" [placeholder]=" account" id="login_acno">
    <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched" style="color: red;">Invalid Account number</div>

    <input formControlName="pswd" type="password" name="password" placeholder="  Password" id="login_pswd">
    <div *ngIf="this.loginForm.get('pswd')?.errors && this.loginForm.get('pswd')?.touched" style="color: red;">Invalid Password</div>

    <div class="recover">
        <a href="#">Forgot Password?</a>
    </div>
    </form>
    <button (click)="login()">Login</button>
    
    <div class="member"><a routerLink="register">Sign Up</a></div>
</div>






