<div class="parent">

    <div class="btn">
<button class="btn1" (click)="logout()">Logout</button>
<button class="btn2" (click)="delete()">Delete</button>
</div>
    <div>
        <h1 style="color: black;text-align: center;">Welcome {{user}}</h1>
        <a routerLink="/transaction" style="text-decoration: none; margin-left: 10px;">Transaction History</a>
    </div>
    <h4 class="date">System Date and time : {{sdate | date : 'short'}}</h4>
    <app-delete [item]="acno" (onCancel)="onCancel()" (onDelete)="onDelete($event)"></app-delete>

    <div class="child" [ngClass]="acno? 'style1':''">
        <div class="bank">
            <img src="../../assets/image/pngtree-vector-bank-icon-png-image_515245.jpg" alt="bank" height="50px"
                width="50px" style="border-radius: 50%;">
            <h1>Deposit</h1>
            <form action="#" [formGroup]="depositForm">
                <input formControlName="acno" type="text" name="Account number" placeholder=" Account number"
                    id="depo_acno">
                <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched"
                    style="color: red;">Invalid Account number</div>

                <input formControlName="pswd" type="password" name="password" placeholder="  Password" id="depo_pswd">
                <div *ngIf="this.depositForm.get('pswd')?.errors && this.depositForm.get('pswd')?.touched"
                    style="color: red;">Invalid Password</div>

                <input formControlName="amount" type="text" name="userName" placeholder="  Amount" id="depo_amount">
                <div *ngIf="this.depositForm.get('amount')?.errors && this.depositForm.get('amount')?.touched"
                    style="color: red;">Invalid Amount</div>


            </form>
            <button (click)="deposit() " type="submit" value="submit">Deposit</button>

        </div>

    </div>
    <div class="child" [ngClass]="acno? 'style1':''">
        <div class="bank">
            <img src="../../assets/image/pngtree-vector-bank-icon-png-image_515245.jpg" alt="bank" height="50px"
                width="50px" style="border-radius: 50%;">
            <h1>Withdraw</h1>
            <form action="#" [formGroup]="withdrawForm">
                <input formControlName="acno" type="text" name="Account number" placeholder="Account number"
                    id="with_acno">
                <div *ngIf="this.withdrawForm.get('acno')?.errors && this.withdrawForm.get('acno')?.touched"
                    style="color: red;">Invalid Account number</div>

                <input formControlName="pswd" type="password" name="password" placeholder="Password" id="with_pswd">
                <div *ngIf="this.withdrawForm.get('pswd')?.errors && this.withdrawForm.get('pswd')?.touched"
                    style="color: red;">Invalid Password</div>

                <input formControlName="amount" type="text" name="userName" placeholder="Amount" id="with_amount">
                <div *ngIf="this.withdrawForm.get('amount')?.errors && this.withdrawForm.get('amount')?.touched"
                    style="color: red;">Invalid Amount</div>


            </form>
            <button (click)="withdraw() " type="submit" value="submit">Withdraw</button>
        </div>

    </div>
</div>