<div class="bank">
    <img src="../../assets/image/pngtree-vector-bank-icon-png-image_515245.jpg" alt="bank" height="50px" width="50px" style="border-radius: 50%;">
    <h1>My Bank</h1>
    <form action="#">
    <input type="text" placeholder="  User name" id="uname">
    <input type="text" placeholder= " Account number" id="acno">
    <input type="password" placeholder="  Password" id="pswd">
    </form>
    <div class="terms">
       
        <input type="checkbox" id="checked1" value="checked1" >
        <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
    
    </div>
    <button onclick="register() " type="submit" value="submit">Register</button>

   <div class="member">Already a member? <a href="./login.html">Sign in</a></div>
</div>  
