<div class="bank">
    <img src="../../assets/image/pngtree-vector-bank-icon-png-image_515245.jpg" alt="bank" height="50px" width="50px" style="border-radius: 50%;">
    <h1>Bank of Montreal</h1>
    <form action="#" [formGroup]="registerForm">
    <input formControlName="uname" type="text" name="userName" placeholder="  User name" id="uname">
    <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" style="color: red;">Invalid Username</div>

    <input formControlName="acno" type="text" name="Account number" placeholder= " Account number" id="acno">
    <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched" style="color: red;">Invalid Account number</div>


    <input formControlName="pswd" type="password" name="password" placeholder="  Password" id="pswd">
    <div *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched" style="color: red;">Invalid Password</div>


    </form>
    <div class="terms">
       
        <input type="checkbox" id="checked1" value="checked1" >
        <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
    
    </div>
    <button (click)="register() " type="submit" value="submit">Register</button>

   <div class="member">Already a member? <a routerLink="">Sign in</a></div>
</div>  
